.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.App-header {
  width: 100%;
  background-color: #42B5E8;
  box-shadow: 0px 4px 5px grey;
  padding: 8px 0 8px 0;
  text-align: center;
  margin-bottom: 25px;
}

.App-header h1 {
  color: white;
}

.App-header a {
  margin-top: 0px;
  color: white;
}

.App-body {
  text-align: left;
  margin: 0 3vw 0 3vw; /* vw = vertical width (1vw = 1% of vertical width)*/
  position: relative;
}

.App-footer {
  padding: 16px 0 16px 0;
  margin-top: 25px;
  text-align: center;
  background-color: #42B5E8;
  box-shadow: 0px -3px 10px grey;
  color: white;
  bottom: 0;
  width: 100%;
}

.App-footer h2 {
  margin-top: 0px;
}

.App-footer a {
  color: white;
}
