.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.App-header {
  background-color: #2a2a2a;
  box-shadow: 0px 5px 5px grey;
}

.App-header h1 {
  margin-top: 0px;
  padding: 16px 0 16px 0;
  color: white;
}

.App-body {
  text-align: left;
  margin: 0 3vw 0 3vw; /* vw = vertical width (1vw = 1% of vertical width)*/
}
